
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501422673587'); /* IE9*/
  src: url('iconfont.eot?t=1501422673587#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501422673587') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501422673587') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501422673587#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumbsup:before { content: "\e69b"; }

.icon-sq:before { content: "\e8a9"; }

.icon-search:before { content: "\e63e"; }

.icon-pause:before { content: "\ee07"; }

.icon-n:before { content: "\e75a"; }

.icon-play:before { content: "\e67d"; }

