*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
ul, ol {
  list-style: none;
}
header {
  width: 100vw;
  height: 9vh;
  background: #d43c33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
}

header h1 {
  height: 4vh;
  width: 100%;
}

header h1 .topsvg {
  height: 100%;
}

nav ol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
}
nav ol li {
  width: 33.3%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
nav ol li span{
  font-size: 14px;
  line-height: 2.75em;
  display: inline-block;
  position: relative;
}

nav ol li span.active:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: -5px;
  right: -5px;
  height: 2px;
  background: #d43c33;
}
#recommend {
  display: none;
}
#recommend .sheet h2 {
  font-size: 16px;
  margin: 1em 0;
  padding-left: 0.5em;
  border-left: 2px solid #d43c33;
}

#recommend .sheet ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
#recommend .sheet ul li {
  width: 33%;
  position: relative;
  margin-bottom: 0.5em;
}
#recommend .sheet ul li img {
  width: 100%;
}
#recommend .sheet ul li p {
  padding: 5px 5px 0 5px;
  font-size: 12px;
  height: 3em;
  text-overflow: ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
  overflow: hidden;
}
#recommend .sheet ul li span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  font-size: 12px;
  color: #fff;
  text-align: right;
  background-image: linear-gradient(180deg,rgba(0,0,0,.7),transparent)
}

#recommend .latest h2 {
  font-size: 16px;
  margin: 1em 0;
  padding-left: 0.5em;
  border-left: 2px solid #d43c33;
}

#recommend .latest li {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
}
#recommend .latest li h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.2em;
}

#recommend .latest li p {
  font-size: 14px;
  font-weight: normal;
  color: #888;
}
#recommend .latest li p i{
  color: #d43c33;
}
#recommend .latest li span {
  position: absolute;
  display: inline-block;
  width: 2em;
  line-height: 2em;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding-left: 3px;
  text-align: center;
  font-size: 14px;
  color: #777;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
footer {
  width: 100vw;
  height: 15vh;
  /*background: url('../static/recommand_bg_2x.png') no-repeat;
  background-size: cover;*/
}

/* hot-music */
#hot-music {
  display: none;
}
#hot-music .hot-img {
  background: url('../static/hot_music_bg_2x.jpg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 22vh;
  padding-top: 4vh;
}
.img-title {
  background: url('../static/index_icon_2x.png') no-repeat;
  background-size: contain;
  background-position: -10px -30px;
  height: 80%;
  padding-left: 4vw;
  padding-bottom: 5px;
  font-size: 12px;
  color: #fff;
  vertical-align: bottom;
}
.img-title::after {
  content: ' ';
  height: 100%;
  display: inline-block;
}

#hot-music li {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

#hot-music li .rank {
  float: left;
  padding: 20px 0;
  width: 10%;
  height: 100%;
  text-align: center;
  vertical-align: bottom;
  color: #999;
}
#hot-music li .rank.top {
  color: #d43c33;
}
#hot-music li .content {
  position: relative;
  float: left;
  width: 90%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
#hot-music li .content h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.2em;
}

#hot-music li .content p {
  font-size: 14px;
  font-weight: normal;
  color: #888;
}
#hot-music li .content p i{
  color: #d43c33;
}
#hot-music li .content span {
  position: absolute;
  display: inline-block;
  width: 2em;
  line-height: 2em;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding-left: 3px;
  text-align: center;
  font-size: 14px;
  color: #777;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

/* 搜索页面 */
#search .search-bar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}
#search .search-component {
  height: 2em;
  width: 90%;
  padding-left: 0.5em;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 2em;;
  background: #ebecec;
}
#search .search-component span {
  font-size: 20px;
  color: #ccc;
  display: inline-block;
  margin-right: 0.5em;
}
#search .search-component input {
  font-size: 16px;
  line-height: 1.5em;
  outline: none;
  border: none;
  width: 80%;
  background:#ebecec;
}
#search .search-component input::-webkit-input-placeholder {
  color: #ccc;
}

.hot-search {
  margin: 1em;
}

.hot-search h4 {
  font-size: 14px;
}
.hot-search ul {
  margin-top: 1em;
}
.hot-search li {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 1.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  min-width: 3em;
  text-align: center;
}